name: CI with Cache

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: prime-cache-9af5e88
        id: prime_cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            node_modules
          key: cache-9af5e88

      - name: Show cache result
        run: echo "cache-hit=${{ steps.prime_cache.outputs.cache-hit }}"
